<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myweb.rest.IWeatherMapper">

    <select id="getCoord" resultType="map">
        SELECT *
        FROM
            (
            SELECT ROWNUM as rn, nx, ny
            FROM test_location
            WHERE area1 = #{area1}
            AND area2 LIKE '%' || #{area2} || '%'
            )
        WHERE rn = 1
    </select>

</mapper>

<!-- 
SELECT t.*,
    (SELECT ABS(t.latitude - 37.5621181) + ABS(t.longitude - 126.9428028) FROM dual) AS diff
FROM
    (
    SELECT * FROM test_location
    ORDER BY ABS(latitude - 37.5621181) + ABS(longitude - 126.9428028)
    ) t
WHERE ROWNUM < 11;
SELECT * FROM
    (
    SELECT * FROM test_location
    ORDER BY ABS(latitude - 37.5621181) + ABS(longitude - 126.9428028)
    )
WHERE ROWNUM = 1;
-->